$blue: #61d9ff;
$red: #ff6161;
$gray: #f1f1f120;
$white: #f1f1f1;
$dark: #131313;

form {
    input {
        display: inline;
        background: $gray;
        border: none;
        color: $white;

        height: 120px;
        width: 87.5%;
        font-size: 1rem;
        padding-left: 2.5%;
    }

    button {
        display: inline;
        background-color: $blue;
        border: none;
    
        height: 120px;
        width: 10%;

        transform: translate(0%, 20%);    
    }
}

ul {
    margin-top: 25px;

    li {
        list-style: none;
        height: 60px;
        margin-top: 20px;

        transform: translate(0%, 50%);

        input {
            background: $white;
            width: 30px;
            height: 30px;

            margin-right: 15px;
            transform: translate(0%, 50%);
        }
    
        button {
            background: none;
            border: none;
            float: right;
            margin-left: 100px;

            transform: translate(0%, 50%);
        }
    }
}

.done {
    text-decoration: line-through;
}
